@charset "UTF-8";

body{
    background-image: url(imagens/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container{
    background-color: rgba(0, 0, 0, 0.521);
    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho cabecalho'
    'conteudo conteudo conteudo'
    'footer footer footer';
    grid-template-columns: 10%;
}
#cabecalho{
    grid-area: cabecalho;
}
#menu_lateral{
    grid-area: menu_lateral;
}
#conteudo{
    grid-area: conteudo;
}
#footer{
    grid-area: footer;
}
#filmes h1{
    font-family: 'Star Jedi Outline';
    color: rgb(255, 255, 255);
    font-style: oblique;
    text-align: center;
    font-size: 35px;
    
}
.btn_nav{
    width: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
}
.btn_nav:hover{
    background-color: rgba(255, 0, 0, 0.568);
}

#cabecalho{
    align-items: center;
    background-color: black;
    /*background-image: linear-gradient(to right , black, rgb(5, 27, 68), rgb(9, 45, 114), rgb(11, 61, 155), rgb(5, 79, 218));*/
    color: white;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid white;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}

#cab{
    right: 0;
    margin: auto;
    display: flex;
}
nav > ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: block;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 0 20px;
}
ul:hover li a{
    opacity: 0.3;
}
ul li a:hover{
    color: white;
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.2);
}
ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.918);
    border-radius: 5px;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.3s;
}
ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.2s;
}
#conteudo{
    margin-top: 120px;

}
.conteudo1{
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    display: flex;
    margin: auto;
    width: 1092px;
}
#conteudo2_filmes{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: flex;
    margin: auto;
    width: 1092px;
    margin-top: 10px;
}
.txt{
    font-size: 20px;
    text-align: center;
}
.card{
    width: 335px;
    margin-left: 10px;
    background-color: rgba(51, 51, 51, 0.589);
}

.img{
    width: 260px;
    margin: auto;
}
section{
    padding: 110px 0 0;
}
section h1{
    color: white;
}
#series h1{
    font-family: 'Star Jedi Outline';
    color: rgb(255, 255, 255);
    font-style: oblique;
    text-align: center;
    font-size: 35px; 
}
.conteudo1_series{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    display: flex;
    margin: auto;
    width: 1092px;
    margin-top: 10px;
}
@media (max-width: 1120px){
    .conteudo1{
        width: 100%;
        display: block;
    }
    .card{
        display: flex;
        width: 98%;
    }
    #conteudo{
        width: 100%;
    }
    
}

