@charset "UTF-8";

body{
    background-image: url(imagens/wallpaperbetter.com_1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*.container{
    background-color: rgba(0, 0, 0, 0.521);
    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho cabecalho'
    'conteudo conteudo conteudo'
    'footer footer footer';
    grid-template-columns: 10%;
}
#cabecalho{
    grid-area: cabecalho;
}
#menu_lateral{
    grid-area: menu_lateral;
}
#conteudo{
    grid-area: conteudo;
}
#footer{
    grid-area: footer;
}*/
#filmes h1{
    font-family: 'Star Jedi Outline';
    color: rgb(255, 255, 255);
    font-style: oblique;
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(to right, black, rgb(12, 12, 12), rgb(26, 25, 25), rgb(53, 53, 53));
    border-radius: 10px 10px 0 0;
}

.btn_nav{
    width: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
}
.btn_nav:hover{
    background-color: rgba(255, 0, 0, 0.568);
}

#cabecalho{
    align-items: center;
    width: 100%;
    background-color: black;
    /*background-image: linear-gradient(to right , black, rgb(5, 27, 68), rgb(9, 45, 114), rgb(11, 61, 155), rgb(5, 79, 218));*/
    color: white;
    display: flex;
    /*position: absolute;*/
    
}

#cab{
    right: 0;
    margin: auto;
    display: flex;
}
#menu_nav{
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
nav{
    margin-top: 6px;
    margin: auto;
    width: 511px;
    background-color: black;
    padding: 15px;
}
nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    /*position: relative;*/
}
html{
    scroll-behavior: smooth;
}
a{
    margin: 0 20px;
}
nav:hover a{
    opacity: 0.3;
}
nav > a:hover{
    color: white;
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.2);
}

.title{
    width: 395px;
}
.conteudo1{
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    display: flex;
    margin: auto;
    width: 100%;
}
#conteudo2_filmes{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}
.txt{
    font-size: 20px;
    text-align: center;
}
.card{
    width: 335px;
    margin-left: 10px;
    background-color: rgba(51, 51, 51, 0.589);
}

.img{
    width: 260px;
    margin: auto;
}
section{
    padding: 60px 0 0;
}
section h1{
    color: white;
}
#series h1{
    font-family: 'Star Jedi Outline';
    color: rgb(255, 255, 255);
    font-style: oblique;
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(to right, black, rgb(12, 12, 12), rgb(26, 25, 25), rgb(53, 53, 53));
    border-radius: 10px 10px 0 0; 
}
#conteudo{
    background-image: url(imagens/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
.conteudo1_series{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 1092px;
}
section.ondas{
    width: 100%;
    height: 100vh;
    position: relative;
}
.onda{
    width: 100%; /*largura total da onda*/
    height: 100px; /*tamanho em altura da onda*/
    position: absolute; /*Permitir movimentar o objeto de forma precisa*/
    bottom: 0; /*A sua margem de baixo será zero*/
    background-size: 1000px 100px; 
    animation: ondaAnimada 5s ease-in-out infinite alternate; /*Parâmetro de animação em css*/
    background-image: url(imagens/efeitos_pag/onda_com_stars.png);
    
}
@keyframes ondaAnimada {
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(15px)
    }
}
#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda1{
    z-index: 1000;
    opacity: 0.6;
    background-position-x: 300px;
}
#onda1{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 200px;
}
#onda1{
    z-index: 998;
    opacity: 0.8;
    background-position-x: 100px;
}
@media (max-width: 1120px){
    .conteudo1{
        width: 100%;
        display: block;
    }
    #conteudo2_filmes{
        width: 100%;
        display: block;
    }
    .card{
        display: flex;
        width: 98%;
    }
    #conteudo{
        width: 100%;
    }
}
@media (max-width: 1120px){
    .card{
        width: 100%;
        margin: auto;
    }

}
@media (min-width: 300px) and (max-width: 714px){
    .card{
        display: block;
        
    }
    .title{
        position: absolute;
        bottom: 300;
    }
    
    #filmes{
        width: 100%;
        margin: auto;
    }
    #series{
        width: 100%;
        margin: auto;
    }
    #cabecalho{
        display: block;
        width: 100%;
        padding: 0;
    }
    nav > a{
        font-size: 16px;
    }
    nav{
        width: 330px;
        margin-top: 6px;
        background-color: black;
    }
}

